*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: dimgray;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.box{
    height:580px;
    width:400px;
    background-color:rgb(119,146,147);
    border-radius:15px;
    border:2px solid black;

    position:relative;
    overflow:hidden;
}

.ball{
    width:50px;
    height:50px;
    border-radius:50%;
    background:brown;

    position:absolute;
    top:0;
    left:0;

    transition:0.5s;
}
#heading{
    font-weight: 600;
    font-style: italic;
}
.startbtn{
    padding: 10px 15px;
    background-color: rgb(56, 59, 51);
    color:white;
    border-radius: 10px;
}